@model J4.Models.Announcenment

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Announcenment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_announ" />
            <div class="form-group">
                <label asp-for="Tittle_announ" class="control-label"></label>
                <input asp-for="Tittle_announ" class="form-control" />
                <span asp-validation-for="Tittle_announ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Describle_announ" class="control-label"></label>
                <input asp-for="Describle_announ" class="form-control" />
                <span asp-validation-for="Describle_announ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image_announ" class="control-label"></label>
                <input asp-for="Image_announ" class="form-control" />
                <span asp-validation-for="Image_announ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
